.logos {
  align-items: center;
  display: flex;
}

.logo {
  display: inline-block;
  height: 6em;
  padding: 1.5em;
  transition: filter 300ms;
  will-change: filter;

  &:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
  }
}

.logoBoost {
  height: 150px;
  width: 150px;
}

.card {
  padding: 0 2em 2em;
}

.navigateExplain {
  color: #888;
}
